@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 100 300 900;
    font-display: swap;
    src: url(fonts/raleway-italic.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100 300 900;
    font-display: swap;
    src: url(fonts/raleway-normal.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Metal Mania';
    font-style: normal;
    font-weight: 100 200 300 400 500 600 700 800 900;
    src: url(fonts/Metalmania.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html {
    font-family: 'Metal Mania';
    font-size: 24px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

h2 {
    margin: 0.5rem auto;
    font-size: 2rem;
}
h3 {
    margin: 0.5rem auto;
    font-size: 1.5rem;
}
p {
    margin: 0.5rem auto;
}

body {
    font-size: 1rem;
    margin: 0;
    background-color: rgb(255, 255, 255);
}
.site {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

button {
    width: auto;
}

button:hover {
    cursor: pointer;
}

.content-distance {
    padding-left: 2rem;
    padding-right: 1rem; 
}
.small-content-distance {
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
}

/* #region head */

.head-container {
    background-color: #31242d;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    align-items: center;
}
.head-logo {
    width: 4rem;
}
.hamburger-menu-icon {
    height: 2rem;
    width: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.hamburger-menu-icon:hover {
    background-color: #008000;
}
.hamburger-line {
    width: 1.5rem;
    height: 0.15rem;
    background-color: rgb(255, 255, 255);
}
/* #endregion */
/* #region Main */

main {
    
    color: black;
}

.price {
    color: #763c65;
}


/* #endreagion */
/* #region footer */


footer {
    background-color: #31242d;
}

.foot-container {
    height: 4rem;
    font-size: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* #endreagion */
/* #region responsive */

/* #endreagion */